body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f0e4e4;
    text-align: center;
}

.header{
    width: 100%;
    background-color: palevioletred;
    align-items: center;
    text-align: center;
    padding: .5rem;
}

.title{
    font-size: 3rem;
}

.dice{
    font-size: 7rem;
    margin: 5px;
}

button{
    background-color: #47a5c4;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}

#roll-history{
    list-style: none;
    text-align: center;
    padding: 0;
    margin:  2rem auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

li{
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span{
    font-size: 3rem;
    margin-right: 1rem;
}